/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main_font, sans-serif);
  color: var(--accent-color, #000);
  font-size: 18px;
  font-variation-settings: 'wdth' var(--body_text-weight, 400);
  background-color: var(--background-color, #FFF);
  background-image: repeating-linear-gradient(
  90deg, 
  var(--background-gradient-color_vertical, #d3d3d3) 0 2px, 
  transparent 2px 4px),
  repeating-linear-gradient(
  180deg, 
  var(--background-gradient-color_vertical, #d3d3d3) 0 2px, 
  transparent 2px 4px),
  linear-gradient(
  180deg, 
  var(--background-gradient-color_hor_one, #e7e7e7) 0 0.01%, 
  var(--background-gradient-color_hor_two, #1a1a1a) 100%);
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

/*чердак*/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_menu {
  display: flex;
	flex-direction: column;
  margin-top: 102px;
  margin-bottom: 102px;
  padding: 120px 14px 25px;
  background-color: var(--background-color, #FFF);
  height: 327px;
  width: 100%;
  border: 2px solid var(--accent-color, #000);
}

.header_title {
  display: flex;
  font-family: var(--additional_font, fantasy);
  font-size: 49px;
  font-weight: 400;
  text-transform: uppercase;
  justify-content: center;
  align-items: end;
  text-decoration: none;
}

.header_subtitle {
  display: flex;
  justify-content: center;
  font-family: var(--additional_font, fantasy);
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
  text-transform: uppercase;
}

@media (width> 375px) {
  .header_menu {
    height: clamp(20.4375rem, 19.5352rem + 3.8498vw, 23rem);
    width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
    padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem) 25px;
  }

  .header_title {
    font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  }

  .header_subtitle {
    font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  }
}  

/*меню в 'чердаке'*/
.theme-menu {
  padding-left: 136px;
  margin-top: 25px;
}

@media (width> 375px) {
  .theme-menu {
      padding-left: clamp(8.5rem, 7.3006rem + 5.1174vw, 11.90625rem);
  }
}
.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.theme-menu__button {
  display: flex;
  justify-content: left;
  font-family: var(--additional_font, fantasy);
  font-size: 14px;
  font-weight: 400;
  border: none;
  background: none;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
}

/*карточки*/
.card {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

@media (width> 375px) {
  .card {
      margin-bottom: clamp(3.125rem, 3.037rem + 0.3756vw, 3.375rem);
  }
}

.card:last-child {
  margin-bottom: 54px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: var(--background-color, #FFF);
}

@media (width> 375px) {
  .section {
      width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  }
}

.card_title {
  font-variation-settings: 'wdth' var(--wdth_title, 700);
  border: 2px solid var(--accent-color, #000);
  padding: 6px 50px 6px 10px;
  font-size: 18px;
}

.card_image {
  position: relative;
  height: 371px;
}

@media (width> 375px) {
  .card_image {
      height: clamp(23.1875rem, 16.0792rem + 30.3286vw, 43.375rem);
  }
}

.image {
  width: 100%;
  height: 100%;                                   
  object-fit: cover;
  border-left: 2px solid var(--accent-color, #000);
  border-right: 2px solid var(--accent-color, #000);
}

.filter_brightness {
  filter: brightness(30%);
}

.filter_contrast {
  filter: contrast(40%);
}

.filter_blur {
  filter: blur(0.2rem);
}

.filter_opacity {
  filter: opacity(0.7);
}

.filter_grayscale {
  filter: grayscale(0.7);
}

.filter_saturate {
  filter: saturate(178%);
}

.filter_hue-rotate {
  filter: hue-rotate(-90deg);
}

.filter_sepia {
  filter: sepia(70%);
}

.text_image {
  position: absolute; 
  right: 11px;
  top: 23px;
  font-family: var(--additional_font, fantasy);
  font-weight: 400;
  font-size: 14px;
  color: var(--accent-color, #000); /**/
  z-index: 1;
  text-shadow:
  -1px 0 var(--background-color, #fff), 
  0 1px var(--background-color, #fff), 
  1px 0 var(--background-color, #fff), 
  0 -1px var(--background-color, #fff);
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@media (width> 375px) {
  .text_image {
    right: 25px;
    top: 23px;
  }
}

@supports((text-stroke: 1px var(--background-color, #fff)) or (-webkit-text-stroke: 1px var(--background-color, #fff))) {
  .text_image {
    -webkit-text-stroke: 1px var(--background-color, #fff);
    text-stroke: 1px var(--background-color, #fff);
    text-shadow: none;
  }
} 

.text_block {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 2px solid var(--accent-color, #000);
  padding: 25px 25px 22px 25px;  
  font-variation-settings: 'wdth' var(--wdth, 400);
}

.text {
  line-height: 21px;
}

.text:nth-child(1) {
  margin-bottom: 26px;
  padding-right: 5px;
}

.text:nth-child(2) {
  margin-bottom: 25px;
}

.span {
  display: flex;
  justify-content: end;
  gap: 7px;
}

/*иконка сердца*/
.card__icon-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  height: 38px;
  width: 39px;
}
            
.like-icon {
  transition: .03s;
  border: 2px solid transparent;
  position: relative;
  right: 7px;
}

.sparks {
  opacity: 0; 
}

/*кнопка like*/ 
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--accent-color, #000);
  cursor: pointer;
  position: relative;
  background-color: var(--background-color, #000);
}

.card__like-button {
  width: 130px;
  height: 38px;
}

.button__text {
  font-family: var(--additional_font, fantasy);
  font-size: 14px;
  font-weight: 400;
  line-height: 90%;
  color: var(--bg-button, #fff);
  mix-blend-mode: difference;
}

/*footer*/
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 102px;
}

@media (width> 375px) {
  .footer {
      margin-bottom: clamp(6.375rem, 6.309rem + 0.2817vw, 6.5625rem);
  }
}

.footer_button {
  flex-direction: column;
  height: 84px;
  width: 310px;
  background-color: var(--background-color, #FFF);
}

@media (width> 375px) {
  .footer_button {
      flex-direction: row;
      justify-content: center;
      gap: 8px;
      height: 55px;
      width: clamp(19.375rem, 18.7368rem + 2.723vw, 21.1875rem);
  }  
}

.footer_button .floppy {
  margin-bottom: 8px;
}

/*диалог*/
.dialog[open] {
  display: flex;
  flex-direction: column;
  padding: 32px 32px;
  background-color: var(--background-color, #FFF);
  border: 2px solid var(--accent-color, #000);
  overflow-y: hidden;
}

@media (width> 375px) {
  .dialog[open] {
    width: 361px;
    height: 197px;
  } 
}

dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog_text_and_icon {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  gap: 20px;
}

@media (width> 375px) {
  .dialog_text_and_icon {
    grid-template-columns: 39px clamp(12.375rem, 11.5827rem + 3.3803vw, 14.625rem);
  }
}

.dialog_text_and_icon .button__text {
  text-transform: uppercase;
  line-height: 150%;
}

.floppy {
  width: 28px;
  height: 28px;
  position: relative;
  z-index: 2;
  color: var(--bg-button, #fff);
  mix-blend-mode: difference;
}

@media (width> 375px) {
  .floppy {
    width: 21px;
    height: 21px;
  } 
}

.dialog_floppy {
  width: 39px;
  height: 39px;
  position: relative;
  z-index: 2;
  color: var(--accent-color, #000);
}

.dialog_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 38px;
}