/* В этом файле будут храниться все значения переменных в исходном состоянии, 
а так же их изменения в зависимости от ширины устройства */

:root {
    --main_font: 'Inter';
    --additional_font: 'PressStart2P';
    --body_text-weight: 400;
    --title_text-weight: 700;
    --background-color: #FFF;
    --accent-color: #000;
    --background-gradient-color_vertical: #d3d3d3;
    --background-gradient-color_hor_one: #e7e7e7;
    --background-gradient-color_hor_two: #1a1a1a;
    --heart_contur: #000;
    --heart_sparks: #FF0000;
    --heart_hover: #000; 
    --red_heart: #FF0000;
    --wght_title: 700;
    --wght: 400;
    --bg-button: #fff;
}




  